fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic-settings
pydantic[email]
python-jose[cryptography]
pyjwt
passlib[bcrypt]
python-multipart
celery
redis
elasticsearch
python-keycloak
httpx
slowapi>=0.1.9
jinja2
httptools
pytest
pytest-asyncio
pytest-httpx
anyio
aiosqlite
pytest-playwright
playwright
